<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <meta charset="utf-8">
        <title>Welcome to JN</title>
    </head>
    <body>
        {{{body}}}
    </body>
    <footer><p> Made by Justina ND, Copyrights 2018</p>
</footer>
</html>
