<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css">
        <meta charset="utf-8">
        <title>Ups...</title>
    </head>
    <body>
        <header>
            <div>
                <h4>Hi from Justina ND, the full-stack developer on the fly with a background in geography/GIS</h4>

            </div>
        </header>

        <main>
            <h4>Sorry, no such page availabe!</h4>
            <h4>Get back to my <a href="/">HOME</a></h4>

        </main>

    </body>

</html>
